p  {
	white-space: pre;
	font-size: 16px;
}

.backg {
background-image:
linear-gradient(-45deg, transparent 2px, #D1C7BF 2px, transparent 3px),
linear-gradient(45deg, transparent 2px, #D1C7BF 2px, transparent 3px);
background-size: 6px 6px;
}
